{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}

<div class="container">
    <br>
    <br>
    <div class="row justify-content-center">
        <div class="form-group col-md-5 col-md-offset-4 align-center ">
                <div class="alert alert-info">
                    Thanks! Please check your email for a link and instructions to reset your password!
                </div>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        {% trans "Did not receive any message?  "%}<a href="{% url 'password_reset' %}">Try Again</a>
                    </small>
                </div>

        </div>
    </div>
</div>

{% endblock %}