<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Responsive Side Menu</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar">
        <span class="open-slide">
            <a href="#" id='slide-open'>
                <svg width="25" height="25">
                    <path d="M0,5 30,5" stroke="#434a45" stroke-width="5" />
                    <path d="M0,14 30,14" stroke="#434a45" stroke-width="5" />
                    <path d="M0,23 30,23" stroke="#434a45" stroke-width="5" />
                </svg>
            </a>
        </span>

        <ul class="navbar-nav">
            <div class="navbar-nav-left">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
            </div>
            <div class="navbar-nav-right">
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Create</a></li>
                <li><a href="#">Add Question</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Help</a></li>
            </div>


        </ul>
    </nav>

    <div id="side-menu" class="side-nav">
        <a href="#" class="btn-close" id="slide-close">&times;</a>
        <a href="#">Create</a>
        <a href="#">Subscriptions</a>
        <a href="#">Explore</a>
        <a href="#">Recent Questions</a>
        <a href="#">Recent Answers</a>
        <a href="#">Rates and Reviews</a>
        <a href="#">Answer Later</a>
        <a href="#">Education</a>
        <a href="#">Science</a>
        <a href="#">Products</a>
        <a href="#">Services</a>
        <a href="#">Books</a>
        <a href="#">Movies</a>
        <a href="#">Games</a>

        <a href="#">Saved</a>
        <a href="#">History</a>
        <a href="#">History</a>
        <a href="#">History</a>
        <a href="#">History</a>
        <a href="#">Library</a>
        <a href="#">History</a>
        <a href="#">History</a>
    </div>
    <div id="main">
        <h1>Main Content</h1>
    </div>
    <script src="navbar-sidemenu.js"></script>

</body>
</html>